# Make various Block related things public
public net.minecraft.block.Block$Properties *()

public net.minecraft.item.Item field_77701_a # group
public net.minecraft.item.Item$Properties field_200923_d # group

public net.minecraft.block.Block field_181083_K # materialColor

public net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP

public net.minecraft.block.TorchBlock <init>(Lnet/minecraft/block/Block$Properties;)V # TorchBlock
public net.minecraft.block.WallTorchBlock <init>(Lnet/minecraft/block/Block$Properties;)V # WallTorchBlock
public net.minecraft.block.LilyPadBlock <init>(Lnet/minecraft/block/Block$Properties;)V # LilyPadBlock

public net.minecraft.world.gen.carver.WorldCarver func_222699_a(Ljava/lang/String;Lnet/minecraft/world/gen/carver/WorldCarver;)Lnet/minecraft/world/gen/carver/WorldCarver; # register